spring:
  application:
    name: pulsedesk-backend

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/pulsedesk}
    username: ${DB_USER:pulsedesk}
    password: ${DB_PASS:pulsedesk}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    contexts: dev

server:
  port: ${SERVER_PORT:8080}

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health,info